# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Variables de entorno
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.log

# Base de datos local
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

